/* Margin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and background Styling */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Styling for the main header title */
header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* Styling for navigation menu links */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Hover effect for navigation links */
nav ul li a:hover {
    color: #007BFF;
}

/* Main content styling */
main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

/* Bio content section with my photo image on the left and text on the right */
.bio-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Styling for the bio image */
.bio-photo {
    width: 250px;
    border-radius: 50%;
    margin-right: 20px;
}

/* Styling for the bio text block */
.bio-text {
    max-width: 600px;
    text-align: left;
}

/* Contact form styling */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Input and textarea styling */
form input, form textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
}

/* Button styling */
button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

/* Button hover effect */
button:hover {
    background-color: #0056b3;
}

/* Footer styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Footer text styling */
footer p {
    margin: 0;
    font-size: 0.9rem;
}
